<head>
    <script> localStorage.removeItem('ifinsg_token')</script>
</head>

<body>
    <script> localStorage.removeItem('ifinsg_token')</script>
    <div style="margin: 0 0 0 20px; overflow: auto;">
        <div style="width: 210px; float: left;">
            FRAME REPLACEMENT
        </div>
    </div>
</body>